   *{
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   }
   body li{
       text-decoration: none;
       list-style: none;
   }

   body a{
      text-decoration:none;
      color: var(--Azul-oscuro);
  }

    body{
      font-family: 'Open Sans', sans-serif;
      font-size:20px;
    }

    :root{
        --Azul:  #84e1f0cb;
        --Azul-oscuro:  #4997b5;
        --azul-contacti:  #ebf5fb; 
        --azull-letras:rgb(41, 77, 94);
        --gris: #94acbd;
        --skill-bar-length:0%;
    }

    .contenedor{
        flex-wrap: wrap;
    }

    .fondo{
       background-image: url(../img/fondo.jpg);
       background-repeat: no-repeat center;
       background-size:cover;

    }
    .navHamburguesa{
       display: none;
    }
    /*NAV*/
    .abajo{
       background-color:rgba(255, 255, 255, 0) ;
       position: fixed;
       z-index: 99999999999;
    }

    .nav{
         display:flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
    }

   .nav .h1article{
      font-size:40px;
      cursor: pointer;
  }
    .menu ul{
        display:flex;
        justify-content: center;
        align-items: center;
        font-size:25px;
    }

    .menu .menuarticle a{
      color: #000;
   }

     .menu .menuarticle{
        padding: 10px;
        margin: 3px;
        cursor: pointer;
        transition:all 0.5s ease;
        color: #000;
     }

     .menu .menuarticle:hover{
        transform: scale(1.1);
        border-radius: 80px;
        background-color: var(--Azul);
        color: var(--azull-letras);
     }

     /*header*/

     .headerr{
         display: flex;
         justify-content: space-around;
         align-items: center;
         height: 100vh;
     }
          .text h2{
         font-size:55px;
     }

     .headerr h3{
         font-size: 35px;
     }
     .headerr p{
        font-size: 20px;
    }
     .headerr
    .btn{
        margin-top: 15px;
        padding:10px 10px;
        border: none;
        border-radius: 10px;
        transition:all 0.5s ease;
        cursor: pointer;
    }
    .headerr
    .btn:hover{
        transform: scale(1.2);
        background-color: var(--Azul-oscuro);
        color: var(--azull-letras);
    }

     .imgArticle {
         height:50vh;
     }

     /*ABOUT ME*/
     .abuotme{

         justify-content: center;
         align-items:center;
         text-align: center;
         margin-top:150px;
     }
     .abuotme h2{
      font-size:35px;
  }

     .abuotme i{
        font-size:50px;
        color:var(--Azul-oscuro);
     }
       /*portafolio*/

       .portafolioo {
         text-align: center;
         font-size:25px;
         margin-top:170px;
         background:url(../img/fondoportafolio.png);
         background-repeat: no-repeat;
         background-size:cover;
         height:100vh;
         border-bottom-left-radius: 150px;
     }
     .portafolio{
         display:flex;
         justify-content: space-around;
         align-items: center;
         margin-top:40px;
         
     }
     .portafolioo .portafolioh2{
        cursor: pointer;
     }
     
     .portafolio .ImgPortafolio img{
      cursor: pointer;
      border-radius:60px;
      height:30vh;
      transition: all 0.7s ease-in-out;
     }

     .portafolio .ImgPortafolio img:hover{
      box-shadow: 0px 10px 15px var(--Azul-oscuro);
      transform: scale(1.2);
     }

     .portafolio p{
      color: #000;
      transition: all 0.5s ease-in-out;
      cursor: pointer;
   }

     .portafolio p:hover{
        transform: scale(1.2);
        color: var(--Azul-oscuro);
   }


     /*SKILL*/

     .column{
      margin:50px;
      text-align: center;
   }
      .card{
          display:flex;
          justify-content:space-around;
          align-items: center;
          text-align: center;
      }
      
      .cardTitle{
         font-size:40px;
      }

      .skill{
          padding:1em 1em;
      }

      .skill__item{
        display:flex;
        justify-content: space-around ;
         align-items: center;
         cursor: pointer;
    }

    .skill__bar,
    .skill__bar::after{
        position: relative;
        width:175px;
        height: 15px;
        background-color: var(--gris);
        border-radius:15px;
        overflow: hidden;
    }
     
    .skill__bar::after{
       content: "";
       left: -175px;
       position: absolute;
       background-color:var(--Azul-oscuro);
       transition: var(--Azul-oscuro);
       animation: skill__bar--fill 2s ease-in-out forwards;
    }

    .herramientas{
        border: 1px solid var(--azull-letras);
        border-radius:30px;
    }
    .herramientas h2{
       margin-top: 5px;
       font-size:20px;
    }

    .herramientas p{
      font-size:15px;
   }

    .logos{
        height:4vh;
        align-items: center;
        justify-content:center;
        display:flex;
    }
    
      /*HTML*/
    .skill__bar--70::after{
        --skill-bar-length:10%;
     }
     .skill__bar--70::after{
        --skill-bar-length:20%;
     }
     .skill__bar--70::after{
        --skill-bar-length:30%;
     }
     .skill__bar--70::after{
        --skill-bar-length:40%;
     }
     .skill__bar--70::after{
        --skill-bar-length:50%;
     }
     .skill__bar--70::after{
        --skill-bar-length:60%;
     }
     .skill__bar--70::after{
        --skill-bar-length:70%;
     }
     
     
     /*CSS*/
     .skill__bar--80::after{
        --skill-bar-length:10%;
     }

     .skill__bar--80::after{
        --skill-bar-length:20%;
     }

     .skill__bar--80::after{
        --skill-bar-length:30%;
     }

     .skill__bar--80::after{
        --skill-bar-length:40%;
     }

     .skill__bar--80::after{
        --skill-bar-length:50%;
     }

     .skill__bar--80::after{
        --skill-bar-length:60%;
     }

     .skill__bar--80::after{
        --skill-bar-length:70%;
     }

     .skill__bar--80::after{
        --skill-bar-length:89%;
     }

/*Javascript*/
     .skill__bar--50::after{
        --skill-bar-length:10%;
     }

     .skill__bar--50::after{
        --skill-bar-length:20%;
     }

     .skill__bar--50::after{
        --skill-bar-length:30%;
     }

     .skill__bar--50::after{
        --skill-bar-length:40%;
     }

     .skill__bar--50::after{
        --skill-bar-length:50%;
     }
     
     /*High Scoll*/
     .skill__bar--100::after{
        --skill-bar-length:10%;
     }

     .skill__bar--100::after{
        --skill-bar-length:20%;
     }

     .skill__bar--100::after{
        --skill-bar-length:30%;
     }

     .skill__bar--100::after{
        --skill-bar-length:40%;
     }

     .skill__bar--100::after{
        --skill-bar-length:50%;
     }
     
     .skill__bar--100::after{
        --skill-bar-length:60%;
     }

     .skill__bar--100::after{
        --skill-bar-length:70%;
     }

     .skill__bar--100::after{
        --skill-bar-length:80%;
     }

     .skill__bar--100::after{
        --skill-bar-length:90%;
     }

     .skill__bar--100::after{
        --skill-bar-length:100%;
     }

     /*English*/
     .skill__bar--30::after{
        --skill-bar-length:10%;
     }

     .skill__bar--30::after{
        --skill-bar-length:20%;
     }

     .skill__bar--30::after{
        --skill-bar-length:30%;
     }
     @keyframes skill__bar--fill {
         to {
            transform: translatex( var(--skill-bar-length));
         }
     }

     /*contacto*/
     .contacto{
        display: block;
        justify-content:center;
        align-items: center;
        text-align: center;
        background:url(../img/contacto.jpg);
     }

     .contactoh2{
        font-size:40px;
        margin-top: 5px;
     }
     .contacto  p{
      margin: 10px;
   }

     .contacto  i{
        padding: 5px;
         font-size:30px;
         cursor:pointer;
         transition: all 0.6s ease;
     }

     .contacto  i:hover{
       transform: scale(1.3);
   }

     .contacto  .inputcontacto{
      padding:12px 100px;
      border-radius: 20px;
      border: none;
      background-color: var(--azul-contacti);
      margin: 5px;
   }

   .contacto  .inputMesage{
      padding:30px 300px;
      border-radius: 20px;
      border: none;
      background-color: var(--azul-contacti);
      margin:15px;
   }

   .contacto .copiring{
      margin-top:10px;
   }