/* ESCRITORIOS GRANDES 
----------------------------------------*/
@media (min-width: 1080px) {}

/* ESCRITORIOS NORMALES 
----------------------------------------*/
@media (max-width: 990px) {
.nav{
    justify-content:space-around;
}

.abajo{
    padding-bottom: 10px;
 }

 .menunavHamburguesa
 .menuarticlenavHamburguesa{
     font-size:20px;
 }

/*header*/  

.headerr{
    margin:10px;
}
.imgArticle img{
    height:35vh;
}
.headerr
.text
.h2header{
    font-size:35px;
} 
/*portafolio*/
.portafolio{
    justify-content: space-between;
}
 #eliminar
 img{
     display: none;
 }
.portafolio
 .eliminar{
     display:none;
 }

 .portafolio
.ImgPortafolio img{
    height:20vh;
}
 /*SKILL*/
 .cardTitle{
    margin: 15px;
}

}
/* tablet */
/*----------------------------------------*/
@media (max-width: 880px) {
    /*nav*/
    .nav .titulo
    .h1article{
        font-size:35px;
}

.menu .menuarticle{
    font-size:20px;
}
/*header*/
.headerr
{
    text-align: center;
     flex-direction: column;
}

.imgArticle img{
      height:30vh;
}
/*ABoutme*/
.abuotme p{
    font-size:18px;
}

.abuotme p{
    font-size:18px;
}
/*Portafolio*/

.portafolioo
.portafolioh2{
      font-size:35px;
}

/*skill*/
.column .cardTitle{
    font-size: 35px;
}
.column{
    display: block;
}
.card{
   flex-direction: column;
}

 .herramientas{
     margin-top:15px;
 }
}
/*CONTACTO*/

.contacto .contactoh2{
    font-size:35px;
}
.contacto .fa-brands{
    font-size:25px;
}

#Gmail{
    font-size:25px;
}


/* MOVILES medianos
----------------------------------------*/
@media (max-width: 750px) {
    .contenedor{
        width: 100%;
        height: 100vh;
        position: absolute;
    }

    .eliminar_750{
    display: none;
    }

    .eliminar_750p{
        display: none;
        }
        #navegar{
            display: none;
        }
        
        /*nav*/
        #manuHAmb{
            display:block;
           
         }
         .titulonavHamburguesa{
             display:flex;
             justify-content: space-between;
             align-items: center;
             position: relative;
             padding:10px;
             font-size:30px;
             
         }
         .titulonavHamburguesa .fa-solid{
            cursor: pointer;
        }

        .menunavHamburguesa {
            text-align: center;
            position:fixed;
            background: #4996b5e0;
            border: 1px solid #205e77;
            right: 100%;
            right:0;
            gap: 0;
            top: 50px;
            height: calc(36%);
            z-index: 99999999999;
            line-height:60px;
            width: 50%;
            overflow-y: auto;
            transition:all  0.6s ease;
            border-radius: 15px;
            float: right;
        }
        .menunavHamburguesa {
            right: 0;
        }
        .menuarticlenavHamburguesa a{
            transition:all  0.6s ease;
            color: rgb(255, 255, 255);
        }
        
        
        .menuarticlenavHamburguesa{
            padding:2px;
            cursor: pointer;
            
        }
        .menuarticlenavHamburguesa:hover{
            background:rgb(143, 235, 227);
        }
          /*header*/
          .fondo{
            background-size:50% 50%;
     
         }
          .headerr{
              height:50vh;
              flex-direction: column;
          }
          .imgArticle img{
              height:25vh;
          }
        
         .text{
             text-align: center;
         }
        
        /*Portafolio*/
        .portafolioo{
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-items: center;
         }
        .portafolioo .portafolioh2{
            font-size: 35px;
        }
        #portaf{
            font-size: 20px;
        }
}


    /* MOVILES 
----------------------------------------*/
    @media (max-width: 580px){

        .menunavHamburguesa {
            width: 100%;
            position: fixed;
        }

        /*headerr*/
        .headerr
      .text .h2header{
        font-size:30px;
      }
      #h3{
        font-size:30px;
      }

        /*about*/
      #about h2{  
        font-size:30px;
    }
    .abuotme p{
        font-size:15px;
          }
         /*Portafolio*/
         .portafolioo
         .portafolioh2{
            font-size:30px;
         }

          /*skill*/
          .column .cardTitle{
            font-size:30px;
          }

          /*CONTACTO*/
          .contacto
          .contactoh2{
            font-size:30px;
          }

          #Gmail
          { 
               font-size:20px;
          }
    }
    