*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

hr{
    margin: 10px 0;
}

BODY {
    Background: #000;
    color: #fff;
    background-color: #0b090c;
    background: url( img/red1.jpeg);
    font-size: 16px;
    font-family: 'Barlow', sans-serif;
    
    
}

*{
    color:#fff;
    text-decoration: none;
}

ul{
    list-style: none;
}

.container{
    width: 90%;
    margin: 0 auto;

}

/*navegation */
.nav-main{
    font: size 17px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    height: 60px;
    padding: 20px 0;
}

.nav-brand{
    width: 50px;
}

/*nav left*/
.nav-main ul {
    display: flex;
}

.nav-main ul li{
    padding:10px;
}

.nav-main ul li a {
    padding: 3px;
   }

   .nav-main ul li a:hover {
    border-bottom: 2px solid rgb(213, 42, 42);
    }

    .nav-main ul.nav-menu{
        flex: 1;
        margin-left: 20px;
    }

    .menu-btn{
        position: absolute;
        cursor: pointer;
        top: 15px;
        right: 30px;
        z-index: 2;
        font-size: 1.5rem;
        display:none;
    }

    /*showcase*/
    .showcase {
        width: 100%;
        height: 550px;
        background: rgb(154, 163, 171);
        background: url(./img/red3.jpeg) no-repeat center center/cover;
         padding: 50px;
         display:flex;
         flex-direction: column;
         align-items: center;
         justify-content: flex-end;
         margin-bottom: 20px;
         
    }

    .btn {
       cursor: pointer;
       display: inline-block;
       border: 0;
       font-weight: bold;
       padding: 10px 20px;
       background: #262626;
       color: #fff;
       font-size: 15px;
       border: 1px solid rgb(213, 42, 42);;
       margin: 10px 0;
    }

    .btn:hover{
        opacity: .7;
    }

    .showcase h2 {
        margin-bottom: 5px;
    }
    .showcase p{
        margin-bottom: 10px;
    }

    /*new*/
    .new {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 25px;
        margin: 10px 0;
    }

    .new img {
        width: 100%;
        height: 180px;
    }

    .new h3{
        font: size 20px;
        margin: 10px 0;
    }

    .new a{
        padding: 10px 10px;
        color: #f2f2f2;
        text-transform: uppercase;
        display: inline-block;
        font-weight: bold;

    }

    .new a:hover{
        text-decoration: underline;
    }

      /*card-b*/

    .card-b {
        width: 100%;
        height: 350%;
        background: url( img/tech.jpg) no-repeat center center/cover;
        margin-bottom: 40px;
    }
    
    .card-b .contenido {
        width: 40%;
        padding: 50px 0 0 30px;
        color: #fff;
    }

    .card-b p,
    .card-b h2{
        margin: 10px 0;
        padding: 10px 0;
    }


    /*card-b2*/

    .card-b2{
        width: 100%;
        height: 350px;
      background: url(img/teck-blaco.jpg) no-repeat center center/cover;
    }

    .card-b2 .contenido {
        width: 50%;
        padding: 100px 0 0 30px;
       
    }
/*social*/
.social{
    margin: 50px;
  }

  .social p{
      text-align: center;
      font: size 30px;
      margin-bottom: 20px;
  }

  .link{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  
  .link a{
      margin: 0 30px;
  }

  .link a i{
      font-size: 2rem;
  }

  /*footer-link*/
  .footer-link{
      background: #121212;
      color: #0b0b0b;
      font-size: 12px;
      padding: 35px 0;
  }

  .footer-contenido{
     display:grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 10px;
     align-items: flex-start;
     justify-content: center;
  }

.footer-contenido ul {
      margin: 0 auto;
}

.footer-contenido ul li{
    line-height:1.8;
}
    
.footer{
    BACKGROUND:#121212;
    color: #626262;
    font-size: 12px;
    padding: 20px 0;
    text-align: center;
    padding-bottom: 20px;
}

@media (max-width: 700px) {

    .menu-btn{
        display: block;
    }
    .nav-main ul.nav-menu {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        background: #121212;
        height: 100%;
        transform:translateX(-400px);
        padding: 30px;
        opacity: .9;
        transition: transform .5s ease-in-out;
    
    }   
    .nav-main ul.nav-menu.show {
        transform: translateX(-20px);
    }

    .nav-main ul.nav-menu li{
        padding:20px;
        font-size: 14px;

    }
    .nav-main ul.nav-menu-right {
        margin-right: 40px;
    }

    .new {
        grid-template-columns: repeat(2,1fr);
    }
    .card-b .contenido
    .card-b2 .contenido {
        width:80%;
    }
    .footer-link .footer-contenido{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 500px){

    .new {
        grid-template-columns: repeat(1,1fr);
    }
    .new img{
        height:270px;
    }
    .card-b .contenido
    .card-b2 .contenido {
        width:100%;
        padding:60px 20px;
    }

    .footer-link .footer-contenido{
        grid-template-columns: repeat(1,1fr);
        text-align: center;
    }
}